<h1> Bookmarks </h1>
<% flash.keys.each do |type| %>
 <div data-alert class=“flash <%= type %> alert-box radius”>
   <%= flash[type] %>
   <a href=“#” class=“close”>&times;</a>
 </div>
<% end %>
<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" />
    </form>
    <form action="/bookmarks/update/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='PATCH'/>
      <input type="submit" value="Update" />
    </form>
    <form action="/bookmarks/comment/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='POST'/>
      <input type="submit" value="Comment" />
    </form>
  </li>
  <% end %>
</ul>
